.screen_layout_five{
    background: url("../img/sc5.jpg") no-repeat center;
    background-size: cover;
}

.screen_layout_five_wrap{
    width:var(--screenItemWidth);
    height: var(--screenItemHeight);
    position: relative;
    margin:0 auto;
}

.screen_layout_five_wrap>img{
    width:200px;
    height:200px;
    position: absolute;
    left:50%;
    top:101px;
    transform: translateX(-50%);
}

.screen_layout_five_wrap>dl{
    width: var(--matchParent);
    text-align: center;
    position: absolute;
    top:360px;
    color: var(--defaultTextColorPrimary);
}

.screen_layout_five_wrap>dl>dt{
    font-weight:bold;
    font-size: var(--mainTextSize);
}

.screen_layout_five_wrap>dl>dd{
    padding-top: 62px ;
    font-size: var(--secondTextSize);
}