.screen_layout_two{
    background: #f3f5f7;
}

.screen_layout_two_wrap{
    width: var(--screenItemWidth);
    height: var(--screenItemHeight);
    margin:0 auto;
    position: relative;
}

.screen_layout_two_wrap>dl{
    width: var(--matchParent);
    position: absolute;
    top:90px;
    text-align: center;
    left:50%;
    margin-left: -600px;
    color: var(--mainTextSize);
}

.screen_layout_two_wrap>dl>dt{
    font-weight:bold;
    font-size: var(--mainTextSize);
}

.screen_layout_two_wrap>dl>dd{
    padding-top: 44px ;
    font-size: var(--secondTextSize);
}

.screen_layout_two_man{
    width: var(--matchParent);
    height:380px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-600px;
    background:url("../img/sc2-1.png") no-repeat center;
    background-size: 275px 380px ;
    z-index: 4;
}

.screen_layout_two_bg{
    width: var(--matchParent);
    height:361px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -600px;
    background: url("../img/sc2.png") no-repeat center;
    background-size: 750px 361px;
    z-index: 2 ;
}

.screen_layout_two_rocket{
    width:266px;
    height:205px ;
    position: absolute;
    bottom: 99px ;
    background: url("../img/sc2-2.png") no-repeat center;
    background-size: 266px 205px ;
    z-index: 3;
    right:366px;
}

.screen_layout_two_wrap>div:last-child{
  background: var(--secondTextColorPrimary);
  width: 50px;
  height: 3px ;
  position: absolute;
  top: 166px ;
  left: 50%;
  transform: translateX(-50%);
}
