.screen_layout_one{
    background: url("../img/sc1.jpg") no-repeat center;
    background-size: cover ;
}

.screen_layout_one_wrap{
    width: var(--screenItemWidth);
    height:var(--screenItemHeight);
    margin:0 auto;
    position: relative;
}

.screen_layout_one_wrap>dl{
    width: var(--matchParent);
    position: absolute;
    top:240px;
    color: var(--defaultTextColorPrimary);
    text-align: center;
    left:50%;
    margin-left: -600px;
}
.screen_layout_one_wrap>dl>dt{
    font-weight:bold;
    font-size: var(--mainTextSize);
}
.screen_layout_one_wrap>dl>dd{
    margin-top: 26px;
    font-size: var(--secondTextSize);
}
