header{
    width: var(--matchParent);
    height:var(--toolbarSize);
    background: linear-gradient(rgba(21,21,21,1),rgba(255,255,255,0));
    position:relative;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}

header>a{
    background: url("../img/logo.png") left center no-repeat;
    text-indent: 52px ;
    background-size: 40px 40px;
    font-weight:bold;
    color: var(--defaultTextColorPrimary);
    text-decoration: none;
    text-align: center;
    line-height: var(--toolbarSize);
    position: absolute;
    margin-left: 12px;
}

header>nav{
    right:0;
    margin-right: 30px;
    height:var(--toolbarSize);
    position: absolute;
    line-height: var(--toolbarSize);
}
header>nav>a{
    text-decoration: none;
    margin-left: 40px;
    color: var(--defaultTextColorPrimary);
}
header>nav>a:last-child{
    color: var(--defaultTextColorPrimary);
    background: var(--secondTextColorPrimary);
    padding: 14px 19px;
    border-radius: 4px;
    width: 95px;
    height:40px;
}
header>nav>a:last-child:hover{
    box-shadow: 0 0 5px #2b2b2b;
}